/* PHASE 3: Content */

.content {

	background: #fff;
	margin: 0 auto;
	width: 900px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

}

.content-sidebar {
	width: 240px;
	float: left;
	box-sizing: border-box;
	padding: 20px;

}

.content-main {
	width: 660px;
	float: left;
	box-sizing: border-box;
	padding: 20px;

}

.content h1 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;

}

.content p {

}